*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-box{
    width: 200px;
    height: 200px;
    margin-top:20px;
    border-radius: 8px;
}
select{
    width: 200px;
    padding: 4px;
    border-radius: 4px;
    background-color: #f5f3f3;
}